// <-subroutineDec-> main
function Main.main 5
// <-letStatement->
push constant 0
pop local 4
// <-doStatement->
push constant 16
call String.new 1
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-whileStatement->
label while_label1_97c3f5d862134b1aab1a73c1ff06b751
push local 4
not
not
if-goto while_label2_8ad4fcf277c741eba6fa0bda3ffed2e0
// <-doStatement->
push constant 32
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-whileStatement->
label while_label1_a30e7bb85e4440d4a04bb1571ec55d46
push local 1
push constant 0
eq
not
if-goto while_label2_7360d6e4d22c4e428d5b7d9d8b9a94c4
// <-letStatement->
call Keyboard.keyPressed 0
pop local 1
goto while_label1_a30e7bb85e4440d4a04bb1571ec55d46
label while_label2_7360d6e4d22c4e428d5b7d9d8b9a94c4
// <-letStatement->
push local 1
pop local 0
// <-whileStatement->
label while_label1_3a26d9cac3e24b27b9c67a652d3a8ed3
push local 1
push constant 0
eq
not
not
if-goto while_label2_98925bfc9af8403aa593a2e118cea0f8
// <-letStatement->
call Keyboard.keyPressed 0
pop local 1
goto while_label1_3a26d9cac3e24b27b9c67a652d3a8ed3
label while_label2_98925bfc9af8403aa593a2e118cea0f8
// <-doStatement->
call Output.println 0
pop temp 0
// <-ifStatement->
push local 0
push constant 137
eq
not
if-goto if_label1_0e3595d1270f48bc928ed357ff633088
// <-doStatement->
push constant 2
call String.new 1
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-letStatement->
push constant 1
neg
pop local 4
goto if_label2_1d9148fd05334c5db38f2c8958b90e26
label if_label1_0e3595d1270f48bc928ed357ff633088
label if_label2_1d9148fd05334c5db38f2c8958b90e26
goto while_label1_97c3f5d862134b1aab1a73c1ff06b751
label while_label2_8ad4fcf277c741eba6fa0bda3ffed2e0
// <-letStatement->
push constant 0
pop local 4
// <-doStatement->
push constant 14
call String.new 1
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-doStatement->
push constant 59
call String.new 1
push constant 40
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-whileStatement->
label while_label1_6a0bdd3b186f40e6aa6a4a077c004d10
push local 4
not
not
if-goto while_label2_7fc3344eea0b4cc1a2b6b54ad6f337dd
// <-doStatement->
push constant 29
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-letStatement->
call Keyboard.readChar 0
pop local 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-ifStatement->
push local 0
push constant 51
eq
not
if-goto if_label1_d3753ad0b0084121b4e4cd12215a9b44
// <-doStatement->
push constant 2
call String.new 1
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-letStatement->
push constant 1
neg
pop local 4
goto if_label2_2cfaa52ee0634e2587104b2d4fe31602
label if_label1_d3753ad0b0084121b4e4cd12215a9b44
label if_label2_2cfaa52ee0634e2587104b2d4fe31602
goto while_label1_6a0bdd3b186f40e6aa6a4a077c004d10
label while_label2_7fc3344eea0b4cc1a2b6b54ad6f337dd
// <-letStatement->
push constant 0
pop local 4
// <-doStatement->
push constant 14
call String.new 1
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-doStatement->
push constant 38
call String.new 1
push constant 40
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-whileStatement->
label while_label1_e952e34b0f58483bb72e206909f9f47e
push local 4
not
not
if-goto while_label2_6198335a0ba14059848617036049e3ce
// <-letStatement->
push constant 36
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readLine 1
pop local 2
// <-ifStatement->
push local 2
call String.length 1
push constant 4
eq
not
if-goto if_label1_930eac642e28485293c18d79d0b87548
// <-ifStatement->
push local 2
push constant 0
call String.charAt 2
push constant 74
eq
push local 2
push constant 1
call String.charAt 2
push constant 65
eq
and
push local 2
push constant 2
call String.charAt 2
push constant 67
eq
and
push local 2
push constant 3
call String.charAt 2
push constant 75
eq
and
not
if-goto if_label1_43f8b5acd72d4971b8d8400f395d9868
// <-doStatement->
push constant 2
call String.new 1
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-letStatement->
push constant 1
neg
pop local 4
goto if_label2_47c806610ba74dc7a03a6ff8d61c777c
label if_label1_43f8b5acd72d4971b8d8400f395d9868
label if_label2_47c806610ba74dc7a03a6ff8d61c777c
goto if_label2_7549ec1f634147be8519a3b2e5450fed
label if_label1_930eac642e28485293c18d79d0b87548
label if_label2_7549ec1f634147be8519a3b2e5450fed
goto while_label1_e952e34b0f58483bb72e206909f9f47e
label while_label2_6198335a0ba14059848617036049e3ce
// <-letStatement->
push constant 0
pop local 4
// <-doStatement->
push constant 13
call String.new 1
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-doStatement->
push constant 38
call String.new 1
push constant 40
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-whileStatement->
label while_label1_514c7cbb43a44b96ba63525c6e68ca0f
push local 4
not
not
if-goto while_label2_38159046e9084ce0b1a27292737b0437
// <-letStatement->
push constant 38
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 3
// <-ifStatement->
push local 3
push constant 32123
neg
eq
not
if-goto if_label1_b462dc8bbf2b465cbdde4376cd45fff1
// <-doStatement->
push constant 2
call String.new 1
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-doStatement->
call Output.println 0
pop temp 0
// <-letStatement->
push constant 1
neg
pop local 4
goto if_label2_5aab09759802482585cea8e44f723c19
label if_label1_b462dc8bbf2b465cbdde4376cd45fff1
label if_label2_5aab09759802482585cea8e44f723c19
goto while_label1_514c7cbb43a44b96ba63525c6e68ca0f
label while_label2_38159046e9084ce0b1a27292737b0437
// <-doStatement->
call Output.println 0
pop temp 0
// <-doStatement->
push constant 27
call String.new 1
push constant 84
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 121
call String.appendChar 2
call Output.printString 1
pop temp 0
// <-returnStatement->
push constant 0
return
